

<div class="row">
  
    <div class="col-md-4" *ngFor="let service of myservices">
      <mdb-card >
        <div class="view rgba-white-slight waves-light"  mdbWavesEffect>
       
          <mdb-card-img   src="{{service.image}}" alt="{{service.titre}}"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        
        <mdb-card-body>
         
          <mdb-card-title>
            <h4>{{service.titre}}</h4>
          </mdb-card-title>
      
          
          <mdb-card-text>
            {{service.extrait}}
          </mdb-card-text>
          
          <a href="#" mdbBtn color="primary" mdbWavesEffect [routerLink]="['/services',service.slug]">Voir plus</a>
        </mdb-card-body>
      </mdb-card>
      <br>
    </div>

</div>

 
